.footer{
  width: 100%;
  height: 200px;
  background-image: url("../images/bg.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright{
  margin-left: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.offer__confidentiality, .offer__usage{
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgba(220,220,220,0.3);
  font-size: 18px;
}
.footer__creator{
  margin-right: 20px;
  width: 200px; height: 50px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 750px) {
  .footer{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer__creator{
    margin-top: 10px;
  }
}
