.main__aside_content{
  height: 500px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
}
.aside_content__textblock{
  width: 500px;
}
.aside_content__title{
  font-family: 'Poppins', sans-serif; font-size: 32px;
}
.aside_content__text{
  font-family: 'Roboto', sans-serif; font-size: 18px;
}
.aside_content__image{
  position: relative;
  top: -40px;
  left: 90px;
  z-index: 2;
}
.aside_content__image_1{
  position: relative;
  top: -100px;
}

@media (max-width: 1260px) {
  .main__aside_content{
    height: 350px;
  }
  .aside_content__image{
    width: 230px; height: 450px;
  }
  .aside_content__image_1{
    width: 300px; height: 450px;
    top: -80px;
  }
}

@media (max-width: 1070px) {
  .aside_content__image, .aside_content__image_1{
    display: none;
  }
  .aside_content__textblock{
    text-align: center;
  }
}

@media (max-width: 920px) {
  .aside_content__title{
    font-size: 24px
  }
  .aside_content__text{
    font-size: 16px;
  }
}
